// title & form animation
@keyframes textshadow {
  from {text-shadow: 0 0 2px white;}
  50% {text-shadow: 0 0 13px white;}
  to {text-shadow: 0 0 2px white;}
}
@keyframes boxshadow {
  from {box-shadow: 0 0 2px white;}
  50% {box-shadow: 0 0 13px white;}
  to {box-shadow: 0 0 2px white;}
}
@keyframes textcolor {
  from {color: rgb(255, 47, 47);}
  50% {color: white;}
  to {color: rgb(255, 47, 47);}
}

// saber animation
@keyframes swordon {
  from {width: 0px;}
  to {width: 310px;}
}
@keyframes blueSaberBlink {
  from {box-shadow: 0 0 18px 15px rgb(52, 52, 255);}
  50% {box-shadow: 0 0 20px 17px rgb(52, 52, 255);}
  to {box-shadow: 0 0 18px 15px rgb(52, 52, 255);}
}