@font-face {
  font-family:"Star Jedi";
  src:url("../fonts/StarJedi/Starjedi.eot") format("eot"),
  url("../fonts/StarJedi/Starjedi.woff") format("woff"),
  url("../fonts/StarJedi/Starjedi.ttf") format("truetype"),
  url("../fonts/StarJedi/Starjedi.svg#StarJedi") format("svg");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }