.main {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/vader.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  &__header {
    width: 50vw;
    font-family: Star Jedi;
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
    animation: textshadow  2s infinite ease-in-out;
    color: black;
  }
  &__enter {
    width: 50vw;
    display: flex;
    justify-content: center;
    &-inp {
      border-radius: 5px;
      background-color: black;
      outline: none;
      padding: 5px 7px 10px 7px;
      font-size: 20px;
      font-family: Star Jedi;
      color: white;
      border: none;
      animation: boxshadow 2s infinite ease-in-out;
      width: 150px;
      z-index: 1;
      &:focus {
        animation: none;
        box-shadow: 0 0 13px white;
      }
    }
    &-btn {
      margin-left: 5px;
      border-radius: 5px;
      background-color: black;
      outline: none;
      border: none;
      padding: 5px 7px 10px 7px;
      animation: boxshadow 2s infinite ease-in-out;
      z-index: 1;
      &:hover {
        color: rgb(255, 47, 47);
        animation: none;
        box-shadow: 0 0 13px white;
      }
      span {
        font-family: Star Jedi;
        font-size: 20px;
        color: white;
        animation: textcolor 2s infinite ease-in-out;
        &:hover {
          color: rgb(255, 47, 47);
          animation: none;
        }
      }
    }
  }

  &__progress {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    &-title {
      text-align: center;
      color: black;
      font-size: 25px;
      font-family: Star Jedi;
      text-shadow: 0 0 13px white;
    }
    &-saber {
      position: relative;
      margin-top: 10px;
    }
    &-img {
      margin-left: 35px;
      margin-top: -80px;
      width: 400px;
      height: 200px;
      transform: rotate(25.5deg);
      z-index: 0;
    }
    &-black {
      position: relative;
      margin-left: 107px;
      margin-top: -101px;
      width: 310px;
      height: 7px;
      background-color: black;
      box-shadow: 0 0 20px 20px black;
      z-index: 1;
      border-radius: 25%;
      .laser__target {
        position: absolute;
        width: 1px;
        height: 1px;
        left: 15px;
        top: 2px;
        outline: none;
        background-color: transparent;
        border-color: transparent;
        border-radius: 50%;
        z-index: 10;
      }
    }
    &-blue {
      margin-left: 107px;
      margin-top: -8px;
      display: none;
      width: 310px;
      height: 7px;
      background-color: white;
      position: relative;
      z-index: 2;
      border-radius: 25%;
      border-left: none;
      animation-direction: reverse;
    }
    &-scale {
      margin-left: 107px;
      margin-top: -7px;
      display: none;
      position: relative;
      height: 7px;
      border-radius: 25%;
      z-index: 4;
      background-color: #fff;
    }
  }

  &__menu {
    position: relative;
    width: 50vw;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    &-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-item {
      padding: 7px;
      button {
        animation: createMenu 3s ease;
        font-family: Star Jedi;
        color: white;
        margin-left: 5px;
        border-radius: 5px;
        background-color: black;
        outline: none;
        border: none;
        padding: 5px 7px 10px 7px;
        z-index: 1;
        box-shadow: 0 0 3px white;
        transition: 0.5s;
        &:hover{
          color: rgb(255, 47, 47);
          box-shadow: 0 0 13px white;
        }
      }
    }
  }

  .payments {
    position: relative;
    margin-top: -20px;
    &__bg {
      width: 40vw;
      height: 100px;
      margin-left: 5vw;
      margin-top: 20px;
      border-radius: 5px;
      background-image: url(../img/star_sky.jpg);
      opacity: 0.5;
    }
    &__list {
      position: absolute;
      overflow-y: auto;
      overflow-x: hidden;
      width: 40vw;
      height: 100px;
      margin-left: 5vw;
      top: 0;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform-origin: 50% 100%;
      list-style-type: none;
      padding-top: 10px;
      padding-bottom: 20px;
    }
    &__item {
      font-family: Roboto;
      font-size: 18px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      color: #FFFA52;
      margin-bottom: 20px;
      transform: perspective(200px) rotateX(45deg);
      cursor: pointer;
      transition: 1s;
      &:hover {
        transform: perspective(0px) rotateX(0deg);
        transform: scale(1.3);
      }
    }
    &__total {
      font-family: Star Jedi;
      text-align: center;
      width: 40vw;
      margin-left: 5vw;
      color: #FFFA52;
      letter-spacing: 3px;
      span {
        font-family: Roboto;
      }
    }
  }

  &__exchange {
    width: 50vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    &-form {
      display: grid;
      grid-template: 1fr 1fr  / 60px 1fr 60px 1fr;
      row-gap: 5px;
      label {
        font-family: Star Jedi;
        color: black;
        font-size: 20px;
        text-shadow: 0 0 4px white;
      }
      input {
        width: 86px;
        border-radius: 5px;
        background-color: black;
        outline: none;
        padding: 1px 0px 5px 4px;
        font-size: 20px;
        font-family: Star Jedi;
        color: white;
        border: none;
        box-shadow: 0 0 4px white;
        letter-spacing: 2px;
      }
      #usd, #uah2 {
        margin-right: 30px;
        position: relative;
        z-index: 2;
        &::-webkit-outer-spin-button, 
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }

  &__laser {
    height: 5px;
    width: 60px;
    background-color: rgb(255, 187, 187);
    border-radius: 25%;
    box-shadow: 0 0 10px 5px rgb(255, 47, 47);
    position: absolute;
    top: 105vh;
    left: 101vw;
    transform: rotate(25deg);
    z-index: 5;
  }
}